* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(135deg, #ffffff, #f0f8ff);
}

body {
  font-family: "Poppins", sans-serif;
  color: #1a202c;
  height: 100vh;
}

h1 {
  text-align: center;
  text-transform: capitalize;
}

p {
  line-height: 1.6;
  font-size: 16px;
}

a {
  text-decoration: none;
}

header {
  margin: 20px 10px;
  height: 8%;
}

main {
  margin: 15px;
  padding: 10px;
}

section {
  margin: 5px 0;
  padding: 15px;
}

footer {
  margin: 20px 10px;
  padding: 10px 15px;
}

header p {
  text-align: center;
  font-weight: 500;
  padding: 5px;
}

.fav-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px;
  height: 90%;
}

.fav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 40%;
  gap: 50px;
  height: 90%;
}

.word-details {
  overflow-y: auto;
  flex: 1;
  /* height: 90%; */
}

.word-details .meaning-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.word-details .meaning-card .source {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.fav-list .sidebar-head {
  padding: 14px;
  flex: 0, 0, auto;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}

.fav-list .cont-wordlist {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: auto;
  border-radius: 2%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  height: 80%;
}

.fav-list .cont-wordlist::-webkit-scrollbar {
  width: 6px;
}

.fav-list .cont-wordlist::-webkit-scrollbar-track {
  background: transparent;
}

.fav-list .cont-wordlist::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: background 0.3s ease;
}

.fav-list .cont-wordlist::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.fav-list .cont-wordlist .cont-word {
  padding: 10px;
  width: 90%;
  margin: 12px auto;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.fav-list .cont-wordlist .cont-word:hover {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.5);
}

.fav-list .cont-wordlist .cont-word .delete-word {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}

.fa-trash {
  color: red;
}

.fav-list .cont-wordlist .cont-word p {
  font-weight: 700;
  font-size: 18px;
}

.fav-list .sidebar-head .search {
  flex: 3;
  padding: 10px;
}

.fav-list .sidebar-head .search input[type="text"] {
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border: transparent;
  min-height: 30px;
  width: 100%;
  padding: 5px;
}

.search input[type="text"]:focus {
  outline: none;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.5);
}

.fav-list .sidebar-head .delete-all {
  flex: 1;
}

.fav-list .sidebar-head .delete-all button {
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  background-color: red;
  padding: 5px;
  width: 100%;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.fav-list .sidebar-head .delete-all button:hover {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.5);
}

/* 
.fav-list .cont-wordlist::-webkit-scrollbar {
  width: 6px;
}

.fav-list .cont-wordlist::-webkit-scrollbar-track {
  background: transparent;
}

.fav-list .cont-wordlist::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: background 0.3s ease;
}

.fav-list .cont-wordlist::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.meaning-card > * {
  animation: fadein 0.3s ease-in-out;
}
.def {
  display: grid;
  max-width: 600px;
  font-size: x-large;
  gap: 20px;
  padding: 10px;
}

.types {
  padding: 10px;

  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
}

.meaningvalues {
  padding: 10px;
  padding-left: 50px;
}

.source {
  font-size: xx-large;
  margin-bottom: 25px;
  font-weight: bolder;
  text-align: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
