:root {
  --main-background-color: linear-gradient(135deg, #ffffff, #f0f8ff);
  --primary-text-color: #1a202c;
  --strong-text-color: #00000099;
  --primary-color: #5ed1ff;
  --secondary-color: #f0f8ff;
  --contradict-color: #ff6e6e;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--main-background);
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}

h1 {
  text-align: center;
  text-transform: capitalize;
}

p {
  line-height: 1.6;
  font-size: 16px;
}

a {
  text-decoration: none;
}

header {
  margin: 20px 10px;
  flex: 0, 0, auto;
}

section {
  margin: 5px 0;
  padding: 15px;
}

footer {
  margin: 20px 10px;
  padding: 10px 15px;
}

header p {
  text-align: center;
  font-weight: 500;
  padding: 5px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px;
  margin: 15px;
  padding: 10px;
  flex: 1;
  height: 80%;
}

.fav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 40%;
  gap: 50px;
  height: 100%;
}

.word-details {
  overflow-y: auto;
  flex: 1;
}

.word-details .meaning-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.word-details .no-word-selected {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 20%;
  color: var(--strong-text-color);
}

.word-details .meaning-card .source {
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 25px;
}

.word-details .meaning-card .def {
  font-size: x-large;
}

.word-details .meaning-card .types {
  color: var(--strong-text-color);
  font-style: italic;
}

.word-details .meaning-card .meaningvalues {
  text-indent: 20px;
}

.fav-list .sidebar-head {
  padding: 14px;
  flex: 0, 0, auto;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}

.fav-list .cont-wordlist {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: auto;
  height: 80%;
}

.fav-list .cont-wordlist::-webkit-scrollbar {
  width: 6px;
}

.fav-list .cont-wordlist::-webkit-scrollbar-track {
  background: transparent;
}

.fav-list .cont-wordlist::-webkit-scrollbar-thumb {
  background: var(--strong-text-color);
  border-radius: 4px;
  transition: 0.3s ease;
}

.fav-list .cont-wordlist::-webkit-scrollbar-thumb:hover {
  background: var(--primary-text-color);
}

.fav-list .cont-wordlist .cont-word {
  padding: 10px;
  width: 90%;
  margin: 17px auto;
  display: flex;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
}

.fav-list .cont-wordlist .cont-word:hover {
  box-shadow: var(--box-shadow-hover);
}

.fav-list .cont-wordlist .cont-word .delete-word {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}

.fa-trash {
  color: var(--contradict-color);
}

.fav-list .cont-wordlist .cont-word p {
  font-weight: 700;
  font-size: 18px;
}

.fav-list .sidebar-head .search {
  flex: 3;
  padding: 10px;
}

.fav-list .sidebar-head .search input[type="text"] {
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  border: transparent;
  min-height: 30px;
  width: 100%;
  padding: 8px;
}

.search input[type="text"]:focus {
  outline: none;
  box-shadow: var(--box-shadow-hover);
}

.fav-list .sidebar-head .delete-all {
  flex: 1;
}

.fav-list .sidebar-head .delete-all button {
  color: var(--secondary-color);
  cursor: pointer;
  border-radius: 20px;
  background-color: var(--contradict-color);
  padding: 5px;
  width: 100%;
  border: none;
  box-shadow: var(--box-shadow);
}

.fav-list .sidebar-head .delete-all button:hover {
  box-shadow: var(--box-shadow-hover);
}
