* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 450px;
  height: 100vh;
  background: linear-gradient(135deg, #ffffff, #f0f8ff);
}

body {
  font-family: "Poppins", sans-serif;
  color: #1a202c;
}

h1 {
  text-align: center;
  text-transform: capitalize;
}

p {
  line-height: 1.6;
  font-size: 16px;
}

a {
  text-decoration: none;
}

header {
  margin: 20px 10px;
}

main {
  margin: 15px;
  padding: 10px;
}

section {
  margin: 5px 0;
  padding: 15px;
}

footer {
  margin: 20px 10px;
  padding: 10px 15px;
}

header p {
  text-align: center;
  font-weight: 500;
  padding: 5px;
}

.cont-dict-status {
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.cont-dict-status p span {
  margin: 0px 3px;
}

.dict-status-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.dict-status-toggle input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input[type="checkbox"]:checked + .slider {
  background-color: #5ed1ff;
}

input[type="checkbox"]:focus + .slider {
  box-shadow: 0 0 1px #5ed1ff;
}

input[type="checkbox"]:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dict-status {
  font-weight: 700;
  font-size: 18px;
  color: #5ed1ff;
}

.domain-name {
  font-weight: 500;
  font-size: 15px;
  text-transform: lowercase;
}

.cont-view-fav {
  text-align: center;
}

.cont-view-fav a {
  display: inline;
  text-align: center;
  padding: 10px;
  background-color: #5ed1ff;
  color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 19px;
  word-spacing: 2px;
  letter-spacing: 2px;
}

.cont-view-fav a:hover {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.5);
}

footer p {
  text-align: left;
  font-size: 15px;
  padding: 5px 0px;
  text-align: center;
}

footer p span {
  font-weight: 600;
  color: #606162;
}

footer p a {
  color: #5ed1ff;
  word-spacing: 2px;
  letter-spacing: 1px;
  text-decoration: underline;
}
